
  <!-- Contenido principal -->
<div class="dashboard-container">
  <main class="main-content">
    <h1>Dashboard</h1>

    <div class="summary-grid">
      <div class="summary-card">
        <h3>Clientes</h3>
        <p>{{ totalCustomers }} registrados</p>
      </div>

      <div class="summary-card">
        <h3>Celulares</h3>
        <p>{{ totalPhones }} registrados</p>
      </div>
      <div class="summary-card">
        <h3>Reparaciones</h3>
        <p>{{ totalRepairs }} registrados</p>
      </div>
      <div class="summary-card">
        <h3>Repuestos</h3>
        <p>{{ totalParts }} registrados</p>
      </div>
    </div>
  </main>
</div>
