<h2>Registro</h2>
<form [formGroup]="form" (ngSubmit)="register()">
  <label>Username:</label>
  <input
    type="text"
    formControlName="username"
    [class.is-invalid]="
      form.get('username')?.invalid && form.get('username')?.touched
    "
  />

  <!-- Mensajes de validación para username -->
  @if (form.get('username')?.invalid && form.get('username')?.touched) {
  <div class="invalid-feedback">
    @if (form.get('username')?.errors?.['required']) {
    <div>El nombre de usuario es obligatorio</div>
    } @if (form.get('username')?.errors?.['minlength']) {
    <div>El nombre de usuario debe contener al menos cuatro caracteres</div>
    }
  </div>
  }

  <label>Email:</label>
  <input
    type="email"
    formControlName="email"
    [class.is-invalid]="
      form.get('email')?.invalid && form.get('email')?.touched
    "
  />

  <!-- Mensajes de validación para email -->
  @if (form.get('email')?.invalid && form.get('email')?.touched) {
  <div class="invalid-feedback">
    @if (form.get('email')?.errors?.['required']) {
    <div>El email es obligatorio</div>
    } @if (form.get('email')?.errors?.['email']) {
    <div>Por favor ingrese un email válido</div>
    }
  </div>
  }
  <label>Password:</label>
  <input
    type="password"
    formControlName="password"
    [class.is-invalid]="
      form.get('password')?.invalid && form.get('password')?.touched
    "
  />

  <!-- Mensajes de validación para password -->
  @if (form.get('password')?.invalid && form.get('password')?.touched) {
  <div class="invalid-feedback">
    @if (form.get('password')?.errors?.['required']) {
    <div>La contraseña es obligatoria</div>
    }
  </div>
  }

  <label>
    <input type="checkbox" formControlName="admin" />
    ¿Es administrador?
  </label>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Registrarse</button>
</form>
